---
title: A propos d'Hachyderm
linkTitle: A propos
menu:
  main:
    weight: 10
---
`
{{% pageinfo %}}
<h5 class="text-center">This page was manually translated on 05/05/23. Please utilize the English docs for the most up to date policies.</h5>
{{% /pageinfo %}}

{{< blocks/cover title="A propos d'Hachyderm" image_anchor="bottom" height="min" color="blue">}}
<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blank" href="https://hachyderm.io">
Inscrivez-vous aujourd'hui
</a>
<p class="lead mt-5">Un service de média social libre et open source <a href="https://joinmastodon.org/"
    target="_blank">alimenté par Mastodon</a>.</p>

{{< /blocks/cover >}}


{{% blocks/lead %}}
<div class="col-12">
  <h1 class="text-center">Votre Timeline</h1>
</div>
<p></p>
<p>
  Votre "timeline" et votre "feed" seront influencées par d’autres membres de la même instance.
Plus il y a d<a href="https://hachyderm.io/tags/hachyderm" target="_blank">#Hachydermians</a> qui s'inscrivent et partagent du contenu, plus le contenu est technique sur votre "timeline".
</p>

{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
  <h1 class="text-center">Safe Space</h1>

<p class="text-center">
Hachyderm repose sur l’empathie et le respect. Nous soutenons les communautés marginalisées.
</p>
<p class="text-center">
  Nous travaillons fort pour soutenir les communautés noires. Nous comprenons l’autisme et la neurodivergence.
</p>
<p class="text-center">
Nous travaillons fort pour soutenir les homosexuels, les lesbiennes, les gais, les bisexuels, les transgenres et tous
les membres de l’alphabet de l’attraction sexuelle et de l’identité.
</p>
</div>

{{< /blocks/section >}}

{{% blocks/lead %}}
<div class="col-12">
  <h1 class="text-center">Techniciens Professionnels</h1>
</div>
<p class="text-center">
  Nous comptons des milliers de professionnels techniques. Nous accueillons les nouveaux arrivants dans le domaine des
  technologies, ainsi que des experts dans leur domaine.
  
  Linux. Rust. Kubernetes. Go. Aurae. C Programmes. Infrastructure. SRE. Securité. OSINT. Économies. News. Pets.
  Hobbies.
</p>

{{% /blocks/lead %}}
